.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .main{
        display: flex;
        justify-content: space-around;
        width: 40rem;
        margin-bottom: 8px;
    }
    
    .input{
    display: flex;
    }